* {
  position: relative;
  box-sizing: border-box;
  transition: font-size 234ms;
}

:root {
  --font-size: 1.25em;
  --padding: 1em;
  --relative-padding:2vw;

  /* Flat colors */
  --primary-color: #FA824C;
  --secondary-color: #434d5b;

  --button-color: #FFAA5A;
  --button-hover-color: #FA824C;
  --background-color: #FFFFFF;

  --positive-color: #3fc380;
  --negative-color: #e25a64;

  /* Miscellaneous */
  --headings-color: #434d5b;
  --paragraph-color: #6d8191;
  --primary-btn-bg: linear-gradient(to right, #f8b133, #f29100);

  /* Text spacing */
  --letter-spacing: 0em;
  --line-height: 2.5rem;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: var(--line-height);
  color: var(--paragraph-color);
  letter-spacing: var(--letter-spacing);
  -webkit-font-smoothing: antialiased;
}

/* Headings */

h1,
h2,
h3 {
  margin-top: 60px;
  margin-bottom: 0;
  font-family: Raleway;
  letter-spacing: var(--letter-spacing);
  color: var(--headings-color);
  display: block;
  width:100%;
}

h1 {
  font-weight: 900;
  font-size: 35px;
  line-height: 2.2rem;
  text-align: center;
}

h1 .thinner {
  font-weight: 500;
}

/* Paragraphs, lists */

p,
li {
  font-weight: 400;
  font-size: var(--font-size);
  font-family: "Open Sans";
  line-height: var(--line-height);
  color: var(--paragraph-color);
  letter-spacing: var(--letter-spacing);
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.text-box {
  border-bottom: .25em solid var(--primary-color);
  border-top: .25em solid var(--primary-color);
  margin: 1em;
  padding: 1em;
  width:100%;
  display: block;

}

.text-box-alt {
  border-bottom: .25em solid var(--secondary-color);
  border-top: .25em solid var(--secondary-color);
  margin: 1em;
  padding: 1em;
  width:80vw;

}

/* Links */

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 234ms;
  font-weight:bold;
}

a:hover {
  color: var(--button-color);
}

/* Buttons */

button {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1em;
}

/* Wrapper */

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Sections */

section {
  width: 100%;
  margin: 0;
  padding: 0;
}



/* Miscellaneous */
code {
  background: #f5f8fc;
  color: var(--primary-color);
  padding: 0 6px;
  border-radius: 2px;
}


/* tablet portait up */
@media (min-width: 600px) {
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

/* tablet landscape up */
@media (min-width: 900px) {
  h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 62px;
  }
  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }
  .section:not(.full) {
    width: 100%;
    max-width: 81%;
    padding-left: 0;
    padding-right: 0;
  }
  .small.section {
    max-width: 700px;
  }
  .medium.section {
    max-width: 900px;
  }
  .large.section {
    max-width: 1200px;
  }
}

/* desktop up */
@media (min-width: 1200px) {
  h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
  }
  h1.smaller {
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
  }
  h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
  }
  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }
}

/* big desktop up */
@media (min-width: 1600px) {
  .section:not(.full):not(.small):not(.medium),
  #footer {
    width: 100%;
    max-width: 1366px;
    padding-left: 0;
    padding-right: 0;
  }
}
